
<div ng-switch="isViewReady">

    <div ng-switch-when="true">

        <form
                name="formUserEdit"
                ng-submit="user.save()">

            <input
                    ng-model="user.firstName"
                    placeholder="First name"
                    required
                    type="text">

            <input
                    ng-model="user.lastName"
                    placeholder="Last name"
                    required
                    type="text">

            <input
                    ng-model="user.email"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    placeholder="Email"
                    required
                    type="email">

            <button
                    ng-disabled="!formUserEdit.$valid"
                    type="submit">Save</button>

        </form>

        <ui-view></ui-view>

    </div>

    <div ng-switch-default>
        Loading...
    </div>

</div>
