
<div ng-switch="isViewReady">

    <div ng-switch-when="true">

        <form
                layout="row"
                layout-align="space-around center"
                name="formUserEdit"
                ng-submit="user.save()">

            <md-input-container>
                <label>First name</label>
                <input
                        ng-model="user.firstName"
                        required
                        type="text"/>
            </md-input-container>

            <md-input-container>
                <label>Last name</label>
                <input
                        ng-model="user.lastName"
                        required
                        type="text"/>
            </md-input-container>

            <md-input-container>
                <label>Email</label>
                <input
                        ng-model="user.email"
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        required
                        type="text"/>
            </md-input-container>

            <md-button
                    class="md-primary md-raised"
                    ng-disabled="!formUserEdit.$valid"
                    type="submit">Save</md-button>

        </form>

        <ui-view></ui-view>

    </div>

    <div ng-switch-default>
        Loading...
    </div>

</div>
