
<!-- build:css(app) /assets/styles/components.min.css -->
<link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.css">
<!-- endbuild -->

<!-- build:jsComponents(app) /assets/scripts/components.min.js -->
<script src="/bower_components/underscore/underscore.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/restangular/src/restangular.js"></script>
<!-- endbuild -->
