<body ng-app="wishlist">

{% verbatim %}
<div
        ng-controller="ControllerUser">

    <div ng-switch="isViewReady">

        <div ng-switch-when="true">

            <form
                    name="formUserEdit"
                    ng-submit="saveUser({user: formUser})">

                <input
                        ng-model="formUser.firstName"
                        required
                        type="text">

                <input
                        ng-model="formUser.lastName"
                        required
                        type="text">

                <input
                        ng-model="formUser.email"
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        required
                        type="email">

                <button
                        ng-disabled="!formUserEdit.$valid"
                        type="submit">Save</button>

            </form>

            <h2>Temporary:</h2>

            <div ng-show="formUser.firstName || formUser.lastName || formUser.email">

                <span ng-bind="formUser.firstName"></span>
                <span ng-bind="formUser.lastName"></span>
                <span>:</span>
                <span ng-bind="formUser.email"></span>

            </div>

            <h2>Permanent:</h2>

            <div ng-show="user">

                <span ng-bind="user.id"></span>
                <span>-</span>
                <span ng-bind="user.firstName"></span>
                <span ng-bind="user.lastName"></span>
                <span>:</span>
                <span ng-bind="user.email"></span>

                <button
                        ng-show="user.id"
                        ng-click="removeUser({user: user})"
                        type="button">Remove</button>

            </div>

        </div>

        <div ng-switch-default>
            Loading...
        </div>

    </div>

</div>
{% endverbatim %}

</body>

