<body ng-app="wishlist">

{% verbatim %}
<div
        ng-controller="ControllerUser">

    <div ng-switch="isViewReady">

        <div ng-switch-when="true">

            <form
                    name="formUserEdit"
                    ng-submit="saveUser({user: user})">

                <input
                        ng-model="user.firstName"
                        placeholder="First name"
                        required
                        type="text">

                <input
                        ng-model="user.lastName"
                        placeholder="Last name"
                        required
                        type="text">

                <input
                        ng-model="user.email"
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        placeholder="Email"
                        required
                        type="email">

                <button
                        ng-disabled="!formUserEdit.$valid"
                        type="submit">Save</button>

                <button
                        ng-show="user.id"
                        ng-click="removeUser({user: user})"
                        type="button">Remove</button>

            </form>

            <form
                    name="formWishEdit"
                    ng-init="defaultCurrency = 'EUR'; wish.price.currency = defaultCurrency"
                    ng-show="user.id"
                    ng-submit="addWish({user: user, wish: wish}); wish = {price: {currency: defaultCurrency}};">

                <input
                        ng-model="wish.title"
                        required
                        type="text">

                <input
                        ng-model="wish.price"
                        placeholder="amount"
                        step="any"
                        type="number"
                        wl-price-amount>

                <select ng-model="wish.price.currency">
                    <option value="EUR">€</option>
                    <option value="USD">$</option>
                </select>

                <button
                        ng-disabled="!formWishEdit.$valid"
                        type="submit">Add Wish</button>

            </form>

        </div>

        <div ng-switch-default>
            Loading...
        </div>

    </div>

</div>
{% endverbatim %}

</body>

